<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>
<body>
<main class="container">

<h1>Sign Up!</h1>
<form action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <br>
  <label for="nickname">Nickname</label>
  <input type="text" name="nickname" id="nickname">

  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Sign Up">
</form>
</main>
</body>
</html>
