<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Welcome to my home page</h1>
<h3 th:text="${message}"></h3>
<form action="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <label>username</label>
    <input type="text" name="userName"/>
    <label>password</label>
    <input type="password" name="password"/>
    <input type="submit" value="login"/>
  </fieldset>
</form>
<form action="/signup" method="post">
  <fieldset>
    <legend>Signup</legend>
    <label>username</label>
    <input type="text" name="userName"/>
    <label>password</label>
    <input type="password" name="password"/>
    <input type="submit" value="sign up"/>
  </fieldset>
</form>
</body>
</html>
